## IDE
# VSCode
.vscode/

# data input
data/*
raw/itpc-30event-good/.gitkeep

# local test
test*
!tests/
!tests/**
# python generated
__pycache__/
*.py[cod]
*.egg-info/
build/

# generated output
results
